.loginForm {
  .wrapper {
    box-sizing: border-box;
    background-color: black;
    height: 100vh;
    width: max(40%, 600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* max-width: 100vw; */
  }

  /* h1 {
        font-size: 3rem;
        font-weight: 900;
        text-transform: uppercase;
    } */

  form {
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  /* form > div{
        width: 100%;
        display: flex;
        justify-content: center;
      } */

  .form-item {
    width: 100%;

    .input-wrapper {
      display: flex;
      justify-content: center;
      position: relative; /* wichtig für die positinierung des auges */
      width: 100%;
    }

    &.incorrect {
      input {
        border: 1px solid red;
      }

      .error {
        display: block;
      }
    }
  }

  form label {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: #5fe9e0;
    /* fill: rgb(0, 0, 0); */
    /* TO DO: Prüfen, ob fill überhaupt funktioniert oder hier anders bezeichnet werden muss */
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 500;
    /* color, font-size / font-weight ist für das @zeichen, da das ja ein icon ist */
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form input {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: none;
    border-left: none;
    /* border: 2px solid #c7fdfa; */
    background-color: #c7fdfa;
    transition: 150ms ease;
    color: rgb(0, 0, 0);
  }

  form input:hover {
    border: 2px solid #5fe9e0;
  }

  form input:focus {
    outline: none;
    /* verhindert, das die einstellung vom browser auf das feld übertragen wird, sodass kein anerer rahmen noch hinzu kommt */
    border-color: black;
  }

  /* .wrapper:has(input:focus) > label{
        background-color: black;
    } */

  form button {
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: 0.85em 4em;
    background-color: #5fe9e0;
    color: black;
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
  }

  form button:hover {
    background-color: #c7fdfa;
  }

  form button:focus {
    outline: none;
    background-color: #c7fdfa;
  }

  a {
    /* text-decoration: none; */
    font-weight: bold;
    color: #5fe9e0;
  }

  a:hover {
    text-decoration: underline;
  }

  .password-eye {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%); /* Vertikale Zentrierung */
    cursor: pointer;
    z-index: 2;
  }

  .icon {
    color: rgb(77, 77, 77);
  }
  /* Error Handling for form validation (span & input:invalid) */
  .error {
    font-size: 10px;
    padding: 3px;
    color: red;
  }
  input:invalid ~ .error {
    display: block;
  }

  /* .password-eye{
        position: absolute;
        right: 37rem;
        top: 32.2rem;
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        line-height: 2rem;
    } */

  /* TO DO - check this, it is not working correctly -  if it is working, put the className "incorrect" to all the other elements, needed. 
     form div.incorrect label{
        background-color: rgb(207, 0, 0);
    }
    
    form div.incorrect input{
        border-color: rgb(207, 0, 0);
    } */

  @media (max-width: 1100px) {
    .wrapper {
      width: min(600px, 100%);
      border-radius: 0;
      /* Image is removed on smartphones */
    }
  }
}

/* .login input{
    border: 5px solid pink !important;
} */
