.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  .wrapper {
    box-sizing: border-box;
    background-color: black;
    width: max(40%, 600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  form {
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .form-item {
    width: 100%;

    .input-wrapper {
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
    }

    &.incorrect {
      input {
        border: 1px solid red;
      }

      .error {
        display: block;
      }
    }
  }

  form label {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: #5fe9e0;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form input {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: none;
    border-left: none;
    background-color: #c7fdfa;
    transition: 150ms ease;
    color: rgb(0, 0, 0);
  }

  form input:hover {
    border: 2px solid #5fe9e0;
  }

  form input:focus {
    outline: none;
    border-color: black;
  }

  form button {
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: 0.85em 4em;
    background-color: #5fe9e0;
    color: black;
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
  }

  form button:hover {
    background-color: #c7fdfa;
  }

  form button:focus {
    outline: none;
    background-color: #c7fdfa;
  }

  a {
    /* text-decoration: none; */
    font-weight: bold;
    color: #5fe9e0;
  }

  a:hover {
    text-decoration: underline;
  }

  .password-eye {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%); /* Vertikale Zentrierung */
    cursor: pointer;
    z-index: 2;
  }

  .icon {
    color: rgb(77, 77, 77);
  }
  /* Error Handling for form validation (span & input:invalid) */
  .error {
    font-size: 10px;
    padding: 3px;
    color: red;
  }
  input:invalid ~ .error {
    display: block;
  }

  @media (max-width: 1100px) {
    .wrapper {
      width: min(600px, 100%);
      border-radius: 0;
    }
  }
}
