.errorpage {
  .container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .button {
    margin-top: 30px;
    border: none;
    border-radius: 1000px;
    padding: 0.5em 2em;
    background-color: #5fe9e0;
    color: black;
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
  }

  .button:hover {
    background-color: #c7fdfa;
  }

  .button:focus {
    outline: none;
    background-color: #c7fdfa;
  }
  .error-image {
    width: 50%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}
