* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* width: 100%; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.navbar-logo {
  display: flex;
  align-items: center;
}
.logo {
  color: #fff;
  font-size: 23px;
  letter-spacing: -1.5px;
  font-weight: 500;
  column-gap: 40px;
}

.navbar-links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-link {
  /* color: #5fe9e0; */
  font-size: 15px;
  transition: all 0.4s;
  color: white;
}

.nav-link:hover,
.nav-link:focus {
  color: rgba(255, 255, 255, 1);
}

a.nav-link.active-link{
  color: #5fe9e0;
}

/* Mobile menu button */
.hamburger-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.hamburger-menu span {
  display: block;
  height: 2px;
  width: 27px;
  background-color: #fff;
  margin: 5px 0;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}


.component-content-container {
  padding: 20px;
  padding-top: 6rem;
  min-height: 100vh;
  transition: transform 0.3s ease-in-out;
}

.hamburger-menu--open span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger-menu--open span:nth-child(2) {
  opacity: 0;
}

.hamburger-menu--open span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
/* Responsive styles */
@media screen and (max-width: 650px) {
  .component-content-container.content-container-menu-open {
    transform: translateY(180px);
    transition: transform 100ms ease-out;
  }
  .hamburger-menu {
    display: block;
    background: none;
    z-index: 1100;
  }

  .navbar-links {
    /* display: none; */
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgb(19, 22, 26);
    flex-direction: column;
    /* padding: 1rem; */
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* color: #5fe9e0; */
    transition: max-height 0.4s ease-out, opacity 0.3s ease-out,
      padding 0.3s ease-out;

    /* Alternative for a smoother animation, without using max-height:0. Check wich is prefered. */

    /* transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s; */
  }

  .navbar-links.active {
    /* display: flex; */
    max-height: 300px;
    opacity: 1;
    padding: 1rem;

    /* Alternative for a smoother animation. Check wich is prefered. */
    /* transform: translateY(0);
    opacity: 1;
    visibility: visible; */
  }

  .nav-link.active-link {
    color: #5fe9e0;  /* Türkis für den aktiven Link */
  }
}
