@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wblo8r');
  src:  url('fonts/icomoon.eot?wblo8r#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wblo8r') format('truetype'),
    url('fonts/icomoon.woff?wblo8r') format('woff'),
    url('fonts/icomoon.svg?wblo8r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
  content: "\e908";
}
.icon-photo:before {
  content: "\e908";
}
.icon-picture:before {
  content: "\e908";
}
.icon-image:before {
  content: "\e908";
}
.icon-picture2:before {
  content: "\e90e";
}
.icon-image5:before {
  content: "\e90e";
}
.icon-photo3:before {
  content: "\e90e";
}
.icon-camera1:before {
  content: "\e90f";
}
.icon-photo2:before {
  content: "\e90f";
}
.icon-image2:before {
  content: "\e90f";
}
.icon-camera3:before {
  content: "\e910";
}
.icon-pictures:before {
  content: "\e910";
}
.icon-photos1:before {
  content: "\e910";
}
.icon-images1:before {
  content: "\e910";
}
.icon-pictures1:before {
  content: "\e911";
}
.icon-images2:before {
  content: "\e911";
}
.icon-photos2:before {
  content: "\e911";
}
.icon-polaroid:before {
  content: "\e911";
}
.icon-add:before {
  content: "\e912";
}
.icon-plus:before {
  content: "\e912";
}
.icon-cloud-add:before {
  content: "\e913";
}
.icon-mail-envelope-closed:before {
  content: "\e90a";
}
.icon-camera-outline:before {
  content: "\e914";
}
.icon-image_search:before {
  content: "\e915";
}
.icon-add_photo_alternate:before {
  content: "\e916";
}
.icon-add_a_photo:before {
  content: "\e917";
}
.icon-mail_outline:before {
  content: "\e90d";
}
.icon-alternate_email:before {
  content: "\e918";
}
.icon-visibility_off:before {
  content: "\e904";
}
.icon-remove_red_eye:before {
  content: "\e905";
}
.icon-visibility:before {
  content: "\e905";
}
.icon-image4:before {
  content: "\e919";
}
.icon-camera5:before {
  content: "\e91a";
}
.icon-plus-square:before {
  content: "\e91d";
}
.icon-send:before {
  content: "\e91e";
}
.icon-mail:before {
  content: "\e922";
}
.icon-lock:before {
  content: "\e906";
}
.icon-unlock:before {
  content: "\e907";
}
.icon-user:before {
  content: "\e902";
}
.icon-home:before {
  content: "\e901";
}
.icon-image1:before {
  content: "\e91b";
}
.icon-photo1:before {
  content: "\e91b";
}
.icon-picture-o:before {
  content: "\e91b";
}
.icon-picture1:before {
  content: "\e91c";
}
.icon-photos:before {
  content: "\e91c";
}
.icon-images:before {
  content: "\e91c";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-camera2:before {
  content: "\e91f";
}
.icon-image3:before {
  content: "\e920";
}
.icon-camera4:before {
  content: "\e921";
}
.icon-email11:before {
  content: "\e90c";
}
.icon-email1:before {
  content: "\e90b";
}
.icon-email:before {
  content: "\e909";
}
.icon-tiktok:before {
  content: "\e900";
}
.icon-IconSunset:before {
  content: "\e903";
}
